/* Basic reset */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  // This defines what 1rem is
  font-size: 70%;
}

body {
  box-sizing: border-box;
}

// Responsive for websiter
@media (max-width: 960px) {
  .hide-sm {
    display: none;
  }
}