body {
  font-family: 'Arial', sans-serif;
  -webkit-font-smoothing: antialiased;
  background: #000;
  color: #999;
  font-weight: 400;
  line-height: 1.7;
  // padding: 3rem;
}

// Using class name
.heading-primary,
.heading-secondary,
.heading-tertiary {
  color: #fff;
}

.paragraph {
  margin: .5rem 0;
}

// Using element
ul {
  list-style: none;
}

a {
  color: #fff;
  text-decoration: none;
}